<div class="row">
    <div class="col-3">
        <form action="">
            <div class="form-group">
                <label for="serverName">Server Name:</label>
                <input [(ngModel)]="serverName" type="text" class="form-control" name="serverName" id="serverName">
                <label for="serverStatus"></label>
                <select [(ngModel)]="serverStatus"  class="form-control" name="serverStatus" id="serverStatus">
                    <option value="Online">Online</option>
                    <option value="Offline">Offline</option>
                </select>
            </div>
            <button class="btn btn-primary" (click)="onCreateServer()" [disabled]="!allowNewServer">Add New Server</button>
            <p class="mt-2">{{serverCreationStatus}}</p>
        </form>
    </div>
</div>
<hr>
<h3>New Server Details:</h3>
    <p>Server Name: {{serverName}}</p>
    <p>Server Status: {{serverStatus}}</p>
    <hr>
<app-server></app-server>